@font-face {
    font-family: 'KemcoPixel';
    src: url('../assets/fonts/KemcoPixel.ttf');
}

body {
    max-height: calc(100% - 40px);
    padding: 20px 0;
    margin: 0;

    &.touch {
        max-height: 100%;
        padding: 0;
    }
}

.font-preload {
    font-family: 'KemcoPixel';
    position: absolute;
    left: -100px;
}
